input{
    border: 1px solid $silver-dark !important;

    &.landing{
        padding: 13.5px 20px !important;
        width: 100% !important; 
        border-radius: 4px !important;
    }
}

.ck.ck-toolbar,
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused){
    border: 1px solid $silver-dark !important;
}
.ck.ck-toolbar{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-width: 0px !important;
}

.form-group{
    position: relative;

    .alert {
        position: absolute;
        border: 0px;
        top: -22.5px;
        left: 10px;
        padding: 5px 10px;
        font-size: 13px;
        &:before {
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            position: absolute;
            left: 13px;
            bottom: -4px;
            content: "";
            background-color: inherit;
        }
    }

    .close{
        position: absolute;
        outline: none !important;
        right: 8px;
        top: 8px;
        z-index: 2;
    }

    .form-control{
        position: relative;
        z-index: 1;
    }
}

div.fileBlock{
    cursor: pointer;
    padding: 10px;
    background-color: $silver-light; 
    border-radius: 4px;
    position: relative;

    &.active{
        &:after{
            position: absolute;
            background-color: #fff;
            content: "";
            width: 60px;
            height: 60px;
            left: 0px;
            top: 0px;
            z-index: 1;
        }
    }
    
    .img-preview{
        width: 50px;
        height: 50px;
        left: 5px;
        top: 5px;
        float: left;
        object-fit: contain;
        object-position: center center;
        border-radius: 4px;
        transform: translate(-10px, -10px);
        margin-right: 10px;
        position: relative;
        z-index: 2;
   
        .hide{
            display: none;
        }
    }

    p{
        position: relative;
        top: 8px;
        z-index: 1;
    }

    button{
        position: absolute;
        right: 9px;
        top: 9px;
        z-index: 2;
    }
}

.disabled,
[readonly],
[disabled]{
    cursor: not-allowed;
    
    * {
        cursor: not-allowed;
    }
}

.form-inline-1{
    input{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    button{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}

.landing{
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 14px !important;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        font-size: 14px !important;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 14px !important;
    }
}

.form-control{
    border: 1px solid $silver-dark !important;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px !important;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px !important;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 12px !important;
    }
}

textarea{
    resize: none !important;
}

[readonly]{
    background-color: $silver-light !important;
    border: 0px solid transparent !important;
}


.ng-input{
    input{
        border: 0px !important;
    }
}

.ng-select-container{
    border: 1px solid $silver-dark !important;
    font-family: "Roboto-regular" !important;
    font-size: 16px !important;
    line-height: 23px !important;
    color: $gray;
}